
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<html>
<head>
    <style>
        html {
            background-color: lightblue
        }

        .h11 {
            font-family: cursive;
            font-style: italic;
            color: white;
            text-align: center
        }

        .tabela1 {
            border: 5px solid;
            background-color: black;
            border-color: white;
            color: white;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .div1 {
            background-color: black;
        }

        .div2 {
            text-align: right;
        }

        .registracija {
            background-color: black;
            color: white;
            margin-right: auto;
        }

            .registracija:hover {
                background-color: gold;
                color: black;
            }

        .polje1 {
            border-bottom: 3px solid;
            border-color: white;
        }

        .polje2 {
            height: 10px;
        }

        .polje3 {
            border-top: 3px solid;
        }

        .button1 {
            background-color: black;
            color: white;
        }

            .button1:hover {
                background-color: gold;
                color: black;
            }

        .input1 {
            background-color: silver;
        }

            .input1:hover {
                background-color: white;
            }
    </style>
</head>

<body>
    <div class="div1">

        <h1 class="h11">

            FIND YOUR GYM

        </h1>
        <div class="div2">
            <input class="registracija" type="button" value="Odjavi se" onclick="location.href='@Url.Action("Odjava","Home")'" />
            <input class="registracija" type="button" value="Prikazi profil" onclick="location.href='@Url.Action("PrikaziProfil","Vlasnik")'" />
            <input class="registracija" type="button" value="Zaposleni treneri" onclick="location.href='@Url.Action("ZaposleniTreneri","Vlasnik")'" />
            <input class="registracija" type="button" value="Upravljanje fitnes centrima" onclick="location.href='@Url.Action("UpravljanjeFitnesCentrima","Vlasnik")'" />

        </div>

    </div>


    <br />
    <br />
    <table class="tabela1">
        <tr><th colspan="4"><h2>Fitnes Centri</h2></th></tr>
        <tr><td class="polje1">Naziv</td><td class="polje1">Adresa</td><td class="polje1">Godina Otvaranja</td><td class="polje1"></td></tr>
        @foreach (var f in ViewBag.FitnesCentri)
        {
            <tr><td>@f.Naziv</td><td>@f.Adresa</td><td>@f.GodinaOtvaranja</td><td><form method="get" action="/Vlasnik/Prikaz"><input type="hidden" name="Naziv" value="@f.Naziv" /> <input class="registracija" type="submit" value="Detalji" /></form></td></tr>
        }
    </table>
    <br />
    <br />
    <form action="/Vlasnik/Sortiranje" method="post">
        <table class="tabela1">
            <tr><th colspan="5"><h2>PRETRAGA</h2></th></tr>
            <tr><td>Godina otvaranja:</td><td>od:</td><td><input class="input1" name="godinaOd" /></td><td>do:</td><td><input class="input1" name="godinaDo" /></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td>Naziv:</td><td></td><td colspan="3"><input class="input1" name="nazivPretraga" /></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td>Adresa:</td><td></td><td colspan="3"><input class="input1" name="adresaPretraga" /></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td>Sortiraj:</td><td></td><td><select class="input1" name="sortiranjePo"><option></option><option>NAZIV</option><option>GODINA OTVARANJA</option><option>ADRESA</option></select></td><td></td><td><select name="sortiranjeRedosled" class="input1"><option>OPADAJUCE</option><option>RASTUCE</option></select></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td class="polje3" colspan="5"><input class="button1" type="submit" value="Pretrazi" /></td></tr>

        </table>
    </form>




</body>
</html>

@{
    if (TempData["Greska"] != null)
    {
        <script type="text/javascript">
            alert("@TempData["Greska"]")
        </script>
        TempData["Greska"] = null;
    }
}

