
@{
    Layout = null;
    ViewBag.Title = "Istorija";
}

<html>
<head>
    <style>
        html {
            background-color: lightblue
        }

        .h11 {
            font-family: cursive;
            font-style: italic;
            color: white;
            text-align: center
        }

        .tabela1 {
            border: 5px solid;
            background-color: black;
            border-color: white;
            color: white;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .div1 {
            background-color: black;
        }

        .div2 {
            text-align: right;
        }

        .registracija {
            background-color: black;
            color: white;
            margin-right: auto;
        }

            .registracija:hover {
                background-color: gold;
                color: black;
            }

        .polje1 {
            border-bottom: 3px solid;
            border-color: white;
        }

        .polje2 {
            height: 10px;
        }

        .polje3 {
            border-top: 3px solid;
        }

        .button1 {
            background-color: black;
            color: white;
        }

            .button1:hover {
                background-color: gold;
                color: black;
            }

        .input1 {
            background-color: silver;
        }

            .input1:hover {
                background-color: white;
            }
    </style>
</head>

<body>
    <div class="div1">

        <h1 class="h11">

            ISTORIJA TRENINGA

        </h1>
        <div class="div2">
            <input class="registracija" type="button" value="Vrati se nazad" onclick="location.href='@Url.Action("Index","Posetilac")'" />
           
        </div>

    </div>


    <br />
    <br />
    <table class="tabela1">
        <tr><th colspan="4"><h2>Protekli treninzi</h2></th></tr>
        <tr><td class="polje1">Naziv</td><td class="polje1">Tip</td><td class="polje1">Fitnes Centar</td><td class="polje1">Datum i vreme</td></tr>
        @foreach (var f in ViewBag.IstorijaTreninga)
        {
            <tr><td>@f.Naziv</td><td>@f.TipTreninga</td><td>@f.FitnesCentar.Naziv</td><td>@f.DatumiVreme.ToString()</td></tr>
        }
    </table>
    <br />
    <br />
    <form action="/Posetilac/IstorijaSortiranje" method="post">
        <table class="tabela1">
            <tr><th colspan="2"><h2>PRETRAGA</h2></th></tr>
            <tr><td>naziv:</td><td><input class="input1" name="naziv" /></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td>Tip:</td><td><select class="input1" name="tip" ><option>YOGA</option><option>BODY_PUMP</option><option>CARDIO</option><option>LESS_MILLS_TONE</option></select></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td>Naziv fitnes centra:</td><td><input class="input1" name="nazivfitnescentra" /></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td>Sortiraj:</td><td><select class="input1" name="sortiranjePo"><option></option><option>NAZIV</option><option>DATUM I VREME</option><option>TIP TRENINGA</option></select></td><td></td><td><select name="sortiranjeRedosled" class="input1"><option>OPADAJUCE</option><option>RASTUCE</option></select></td></tr>
            <tr><td class="polje2" colspan="5"></td></tr>
            <tr><td class="polje3" colspan="5"><input class="button1" type="submit" value="Pretrazi" /></td></tr>

        </table>
    </form>




</body>
</html>

